img {
    text-align: center;
    transition: 1s;
    flex: 0 1;
    min-width: 0;
    max-height: 70vh;
    object-fit: contain;
    transform: scale(0);
}

p {
    transform: scalex(0);
    transition: 1s;
    flex: 1 1;
    min-width: 0;
}

#image1 {
    transform: scale(1);
    flex-grow: 1;
}

#text1 {
    transform: scale(1);
    flex-grow: 1;
}

#control1 {
    decoration:
}

body {
    margin: 0;
}

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100vh;
    gap: 10px 0;
}

#slider {
    order: -1;
    display: flex;
    justify-content: center;
    width: 100vw;
    padding: 0 2%;
    box-sizing: border-box;
}

.controls {
    order: 1;
    display: flex;
    justify-content: end;
}

.controls input {
    appearance: none;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 2px solid black;
    background-color: gray;
    transition: 0.5s;
}

.controls label input:hover {
    border: 6px red;
    background-color: red;
    cursor: pointer;
}

.controls label input:active {
    transform: scale(2);
}

.controls,
#substring {
    width: 30vw;
    padding: 0 2vw;
    display: flex;
}

/*.img-box {
    display: flex;
    justify-content: center;
    width: 100vw;
}*/

/*Слайдер-кнопки начало*/
/*1*/
.controls:has(#control1:checked)~#slider #image1 {
    transform: scale(1);
    flex-grow: 1;
}

.controls:has(#control1:checked)~#slider :not(#image1) {
    transform: scale(0);
    flex-grow: 0;
}

/*2*/
.controls:has(#control2:checked)~#slider #image2 {
    transform: scale(1);
    flex-grow: 1;
}

.controls:has(#control2:checked)~#slider :not(#image2) {
    transform: scale(0);
    flex-grow: 0;
}

/*3*/
.controls:has(#control3:checked)~#slider #image3 {
    transform: scale(1);
    flex-grow: 1;
}

.controls:has(#control3:checked)~#slider :not(#image3) {
    transform: scale(0);
    flex-grow: 0;
}

/*4*/

.controls:has(#control4:checked)~#slider #image4 {
    transform: scale(1);
    flex-grow: 1;
}

.controls:has(#control4:checked)~#slider :not(#image4) {
    transform: scale(0);
    flex-grow: 0;
}

/*Слайдер-кнопки конец*/

/*Текст-кнопки начало*/

.controls:has(#control1:checked)~#substring #text1 {
    transform: scalex(1);
    flex-grow: 1;
}

.controls:has(#control1:checked)~#substring :not(#text1) {
    transform: scalex(0);
    flex-grow: 0;
}

.controls:has(#control2:checked)~#substring #text2 {
    transform: scalex(1);
    flex-grow: 1;
}

.controls:has(#control2:checked)~#substring :not(#text2) {
    transform: scalex(0);
    flex-grow: 0;
}

.controls:has(#control3:checked)~#substring #text3 {
    transform: scalex(1);
    flex-grow: 1;
}

.controls:has(#control3:checked)~#substring :not(#text3) {
    transform: scalex(0);
    flex-grow: 0;
}

.controls:has(#control4:checked)~#substring #text4 {
    transform: scalex(1);
    flex-grow: 1;
}

.controls:has(#control4:checked)~#substring :not(#text4) {
    transform: scalex(0);
    flex-grow: 0;
}

/*Текст-кнопки конец*/
@media (width <=500px) {
    #container {
        flex-direction: column;
        justify-content: unset;
        flex-wrap: nowrap;
    }

    .controls,
    #substring {
        width: unset;
    }

    .controls {
        order: 0;
        align-self: center;
    }
}